<app-notification></app-notification>
<div class="c">
  <div class="container">
    <h1>
      {{title}}!!
    </h1>
    <div>
      <input [(ngModel)]="header" name="header" type="text"  placeholder="Notification header">
      <input [(ngModel)]="body" name="body" type="text" placeholder="Notification body">
      <select [(ngModel)]="type_of_notification">
        <option *ngFor="let category of notificationComponent.categories" [value]="category">{{category}}</option>
      </select>
      <button (click)="showNotification()">Show notification</button>
    </div>
  </div>
</div>
